In [1]:
#Data Loading

In [158]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [159]:
data = pd.read_csv("C:\\Users\\MR ENGINEER SOLUTION\\Downloads\\gcar_data.csv")

In [160]:
data

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,75721,ford,Ford Kuga,black,05/2023,2023,38490,140,190,Automatic,Hybrid,"5,4 l/100 km",124 g/km,100.0,ST-Line Hybrid Adapt.LED+Head-Up-Display Klima
1,80184,hyundai,Hyundai i10,black,09/2018,2018,11555,49,67,Manual,Petrol,"4,6 l/100 km",106 g/km,27782.0,"blue Trend,Viele Extras,Top-Zustand"
2,19864,audi,Audi Q4 e-tron,grey,05/2021,2021,48886,125,170,Automatic,Electric,NaN,0 g/km,4247.0,35 e-tron S line/Matrix/Pano/ACC/SONOS/LM 21
3,76699,honda,Honda CR-V,red,07/2018,2018,24490,114,155,Automatic,Petrol,"7,5 l/100 km",175 g/km,57000.0,2.0 Lifestyle Plus Automatik Navi FAP
4,92991,kia,Kia Sportage,black,02/2023,2023,34990,110,150,Manual,Petrol,"5,9 l/100 km",150 g/km,7500.0,"1.6 T 48V 2WD Spirit LED, WR"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6265,audi,Audi A1,blue,05/2012,2012,12599,90,122,Manual,Petrol,"5,3 l/100 km",126 g/km,148000.0,Ambition TFSI Navi/Leder/SHZ/PTS/KETTE NEU
99996,54886,fiat,Fiat 500,black,12/2019,2019,9999,51,69,Automatic,Petrol,"5,2 l/100 km",120 g/km,31698.0,1.2 Lounge +Automatik + PDC
99997,76820,honda,Honda CR-V,brown,01/2019,2019,24800,127,173,Manual,Petrol,"6,3 l/100 km",143 g/km,77900.0,1.5T 2WD Elegance * 1. Hand * 24 Mon. Garantie *
99998,860,alfa-romeo,Alfa Romeo Giulietta,grey,12/2020,2020,22990,125,170,Automatic,Diesel,"5,5 l/100 km",145 g/km,52251.0,Lusso Ti 2.0 JTDM 16V Xenon Leder Navi
99999,15795,audi,Audi A3,black,05/2018,2018,21900,110,150,Manual,Petrol,"5,3 l/100 km",120 g/km,30400.0,Sportback1.5 Sport|VIRTUAL|NAVI|LED|30KM|

In [161]:
#Data Exploration

In [162]:
data.count()

Unnamed: 0                  100000
brand                       100000
model                       100000
color                        99924
registration_date            99999
year                        100000
price_in_euro               100000
power_kw                     99925
power_ps                     99928
transmission_type           100000
fuel_type                   100000
fuel_consumption_l_100km     88761
fuel_consumption_g_km       100000
mileage_in_km                99932
offer_description           100000
dtype: int64

In [163]:
data.count(axis=0)

Unnamed: 0                  100000
brand                       100000
model                       100000
color                        99924
registration_date            99999
year                        100000
price_in_euro               100000
power_kw                     99925
power_ps                     99928
transmission_type           100000
fuel_type                   100000
fuel_consumption_l_100km     88761
fuel_consumption_g_km       100000
mileage_in_km                99932
offer_description           100000
dtype: int64

In [164]:
data.count(axis=1)

0        15
1        15
2        14
3        15
4        15
         ..
99995    15
99996    15
99997    15
99998    15
99999    15
Length: 100000, dtype: int64

In [165]:
data.isnull()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [166]:
data.isnull().sum()

Unnamed: 0                      0
brand                           0
model                           0
color                          76
registration_date               1
year                            0
price_in_euro                   0
power_kw                       75
power_ps                       72
transmission_type               0
fuel_type                       0
fuel_consumption_l_100km    11239
fuel_consumption_g_km           0
mileage_in_km                  68
offer_description               0
dtype: int64

In [167]:
data.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,75721,ford,Ford Kuga,black,05/2023,2023,38490,140,190,Automatic,Hybrid,"5,4 l/100 km",124 g/km,100.0,ST-Line Hybrid Adapt.LED+Head-Up-Display Klima
1,80184,hyundai,Hyundai i10,black,09/2018,2018,11555,49,67,Manual,Petrol,"4,6 l/100 km",106 g/km,27782.0,"blue Trend,Viele Extras,Top-Zustand"
2,19864,audi,Audi Q4 e-tron,grey,05/2021,2021,48886,125,170,Automatic,Electric,NaN,0 g/km,4247.0,35 e-tron S line/Matrix/Pano/ACC/SONOS/LM 21
3,76699,honda,Honda CR-V,red,07/2018,2018,24490,114,155,Automatic,Petrol,"7,5 l/100 km",175 g/km,57000.0,2.0 Lifestyle Plus Automatik Navi FAP
4,92991,kia,Kia Sportage,black,02/2023,2023,34990,110,150,Manual,Petrol,"5,9 l/100 km",150 g/km,7500.0,"1.6 T 48V 2WD Spirit LED, WR"

In [168]:
data.head(3)

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,75721,ford,Ford Kuga,black,05/2023,2023,38490,140,190,Automatic,Hybrid,"5,4 l/100 km",124 g/km,100.0,ST-Line Hybrid Adapt.LED+Head-Up-Display Klima
1,80184,hyundai,Hyundai i10,black,09/2018,2018,11555,49,67,Manual,Petrol,"4,6 l/100 km",106 g/km,27782.0,"blue Trend,Viele Extras,Top-Zustand"
2,19864,audi,Audi Q4 e-tron,grey,05/2021,2021,48886,125,170,Automatic,Electric,NaN,0 g/km,4247.0,35 e-tron S line/Matrix/Pano/ACC/SONOS/LM 21

In [169]:
data.tail()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
99995,6265,audi,Audi A1,blue,05/2012,2012,12599,90,122,Manual,Petrol,"5,3 l/100 km",126 g/km,148000.0,Ambition TFSI Navi/Leder/SHZ/PTS/KETTE NEU
99996,54886,fiat,Fiat 500,black,12/2019,2019,9999,51,69,Automatic,Petrol,"5,2 l/100 km",120 g/km,31698.0,1.2 Lounge +Automatik + PDC
99997,76820,honda,Honda CR-V,brown,01/2019,2019,24800,127,173,Manual,Petrol,"6,3 l/100 km",143 g/km,77900.0,1.5T 2WD Elegance * 1. Hand * 24 Mon. Garantie *
99998,860,alfa-romeo,Alfa Romeo Giulietta,grey,12/2020,2020,22990,125,170,Automatic,Diesel,"5,5 l/100 km",145 g/km,52251.0,Lusso Ti 2.0 JTDM 16V Xenon Leder Navi
99999,15795,audi,Audi A3,black,05/2018,2018,21900,110,150,Manual,Petrol,"5,3 l/100 km",120 g/km,30400.0,Sportback1.5 Sport|VIRTUAL|NAVI|LED|30KM|

In [170]:
data.tail(2)

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
99998,860,alfa-romeo,Alfa Romeo Giulietta,grey,12/2020,2020,22990,125,170,Automatic,Diesel,"5,5 l/100 km",145 g/km,52251.0,Lusso Ti 2.0 JTDM 16V Xenon Leder Navi
99999,15795,audi,Audi A3,black,05/2018,2018,21900,110,150,Manual,Petrol,"5,3 l/100 km",120 g/km,30400.0,Sportback1.5 Sport|VIRTUAL|NAVI|LED|30KM|

In [171]:
for i in data.columns:
    print(i)

Unnamed: 0
brand
model
color
registration_date
year
price_in_euro
power_kw
power_ps
transmission_type
fuel_type
fuel_consumption_l_100km
fuel_consumption_g_km
mileage_in_km
offer_description

In [172]:
data.describe()

          Unnamed: 0  mileage_in_km
count  100000.000000   9.993200e+04
mean    49999.500000   8.559891e+04
std     28867.657797   7.929713e+04
min         0.000000   0.000000e+00
25%     24999.750000   2.550000e+04
50%     49999.500000   6.800000e+04
75%     74999.250000   1.270000e+05
max     99999.000000   3.800000e+06

In [173]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                100000 non-null  int64
 1   brand                     100000 non-null  object
 2   model                     100000 non-null  object
 3   color                     99924 non-null   object
 4   registration_date         99999 non-null   object
 5   year                      100000 non-null  object
 6   price_in_euro             100000 non-null  object
 7   power_kw                  99925 non-null   object
 8   power_ps                  99928 non-null   object
 9   transmission_type         100000 non-null  object
 10  fuel_type                 100000 non-null  object
 11  fuel_consumption_l_100km  88761 non-null   object
 12  fuel_consumption_g_km     100000 non-null  object
 13  mileage_in_km             99932 non-null   float64
 14  offer_description         100000 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 11.4+ MB

In [174]:
data.nunique()

Unnamed: 0                  100000
brand                           29
model                          590
color                           14
registration_date              369
year                            49
price_in_euro                11652
power_kw                       490
power_ps                       480
transmission_type                4
fuel_type                       54
fuel_consumption_l_100km       404
fuel_consumption_g_km          937
mileage_in_km                34479
offer_description            79777
dtype: int64

In [175]:
data['year'].nunique()

49

In [176]:
data['year'].unique()

array(['2023', '2018', '2021', '2009', '2019', '2012', '2022', '2016',
       '2005', '1999', '2015', '2004', '2020', '2011', '2017', '2010',
       '2013', '2014', '2007', '2003', '2008', '2001', '1998', '2002',
       '2000', '2006', '1995', '1997', '1996', 'Manual', 'Petrol',
       'Diesel', '04/2017', 'Automatic', '113.000 km', '05/2017',
       'Hybrid', '3700', 'Electric', '01/2019', '06/2021', '8.000 km',
       '02/2020', '04/2006', 'LPG', '07/2021', '32.250 km', '03/2023',
       '12/2003'], dtype=object)

In [177]:
data

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,75721,ford,Ford Kuga,black,05/2023,2023,38490,140,190,Automatic,Hybrid,"5,4 l/100 km",124 g/km,100.0,ST-Line Hybrid Adapt.LED+Head-Up-Display Klima
1,80184,hyundai,Hyundai i10,black,09/2018,2018,11555,49,67,Manual,Petrol,"4,6 l/100 km",106 g/km,27782.0,"blue Trend,Viele Extras,Top-Zustand"
2,19864,audi,Audi Q4 e-tron,grey,05/2021,2021,48886,125,170,Automatic,Electric,NaN,0 g/km,4247.0,35 e-tron S line/Matrix/Pano/ACC/SONOS/LM 21
3,76699,honda,Honda CR-V,red,07/2018,2018,24490,114,155,Automatic,Petrol,"7,5 l/100 km",175 g/km,57000.0,2.0 Lifestyle Plus Automatik Navi FAP
4,92991,kia,Kia Sportage,black,02/2023,2023,34990,110,150,Manual,Petrol,"5,9 l/100 km",150 g/km,7500.0,"1.6 T 48V 2WD Spirit LED, WR"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6265,audi,Audi A1,blue,05/2012,2012,12599,90,122,Manual,Petrol,"5,3 l/100 km",126 g/km,148000.0,Ambition TFSI Navi/Leder/SHZ/PTS/KETTE NEU
99996,54886,fiat,Fiat 500,black,12/2019,2019,9999,51,69,Automatic,Petrol,"5,2 l/100 km",120 g/km,31698.0,1.2 Lounge +Automatik + PDC
99997,76820,honda,Honda CR-V,brown,01/2019,2019,24800,127,173,Manual,Petrol,"6,3 l/100 km",143 g/km,77900.0,1.5T 2WD Elegance * 1. Hand * 24 Mon. Garantie *
99998,860,alfa-romeo,Alfa Romeo Giulietta,grey,12/2020,2020,22990,125,170,Automatic,Diesel,"5,5 l/100 km",145 g/km,52251.0,Lusso Ti 2.0 JTDM 16V Xenon Leder Navi
99999,15795,audi,Audi A3,black,05/2018,2018,21900,110,150,Manual,Petrol,"5,3 l/100 km",120 g/km,30400.0,Sportback1.5 Sport|VIRTUAL|NAVI|LED|30KM|

In [178]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                100000 non-null  int64
 1   brand                     100000 non-null  object
 2   model                     100000 non-null  object
 3   color                     99924 non-null   object
 4   registration_date         99999 non-null   object
 5   year                      100000 non-null  object
 6   price_in_euro             100000 non-null  object
 7   power_kw                  99925 non-null   object
 8   power_ps                  99928 non-null   object
 9   transmission_type         100000 non-null  object
 10  fuel_type                 100000 non-null  object
 11  fuel_consumption_l_100km  88761 non-null   object
 12  fuel_consumption_g_km     100000 non-null  object
 13  mileage_in_km             99932 non-null   float64
 14  offer_description         100000 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 11.4+ MB

In [179]:
object_columns = data.select_dtypes(include=['object']).columns.tolist()
numeric_columns = data.select_dtypes(include=['int64']).columns.tolist()
float_columns = data.select_dtypes(include=['float64']).columns.tolist()
print(object_columns)
print(numeric_columns)
print(float_columns)

['brand', 'model', 'color', 'registration_date', 'year', 'price_in_euro', 'power_kw', 'power_ps', 'transmission_type', 'fuel_type', 'fuel_consumption_l_100km', 'fuel_consumption_g_km', 'offer_description']
['Unnamed: 0']
['mileage_in_km']

In [180]:

def fillNaObjMode(cols):
    for col in cols:
        data[col] = data[col].fillna(data[col].mode()[0])

def fillNaIntMode(cols):
    for col in cols:
        data[col] = data[col].fillna(data[col].mode()[0])

def fillNaFloatMode(cols):
    for col in cols:
        data[col] = data[col].fillna(data[col].mode()[0])


if object_columns:
    fillNaObjMode(object_columns)

if numeric_columns:
    fillNaIntMode(numeric_columns)

if float_columns:
    fillNaFloatMode(float_columns)

In [183]:
def convertFloatintoInt(cols):
    for i in cols:
        data[i] = data[i].astype('int64')

columns = ['mileage_in_km']
convertFloatintoInt(columns)

In [189]:
def dataEncoder(cols):
    for i in cols:
        dataLabelEncoder = LabelEncoder()
        data[i] = dataLabelEncoder.fit_transform(data[i])
columns = ['brand', 'model', 'color', 'registration_date', 'year', 'price_in_euro', 'power_kw', 'power_ps', 'transmission_type', 'fuel_type', 'fuel_consumption_l_100km', 'fuel_consumption_g_km', 'offer_description']
dataEncoder(columns)

In [190]:
data['price_in_euro'] = pd.to_numeric(data['price_in_euro'], errors='coerce')

In [191]:
X = data.drop(columns=["price_in_euro"])
y = (data["price_in_euro"] > data["price_in_euro"].median()).astype(int)

In [192]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
svm_classifier = SVC(kernel='linear', random_state=42)
svm_classifier.fit(X_train, y_train)